In [3]:
import numpy as np
import pandas as pd

myIndex = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
myIndex = pd.MultiIndex.from_tuples(myIndex)

df = pd.DataFrame(np.random.randn(6,2), index=myIndex, columns=['Res1', 'Res2'])

In [4]:
df

             Res1      Res2
Slot1 1 -0.741147  0.547752
      2 -1.390895  1.602421
      3  0.870508 -0.688919
Slot2 1  0.488282 -0.720106
      2  0.701255  1.280328
      3  0.532942 -0.801847

In [5]:
df.loc['Slot1']

       Res1      Res2
1 -0.741147  0.547752
2 -1.390895  1.602421
3  0.870508 -0.688919

In [12]:
df['Res2']['Slot1'][2]

1.6024214842234994

In [14]:
a=df.loc['Slot2']
a

       Res1      Res2
1  0.488282 -0.720106
2  0.701255  1.280328
3  0.532942 -0.801847

In [22]:
a.loc[[2,3]]

       Res1      Res2
2  0.701255  1.280328
3  0.532942 -0.801847

In [24]:
df.xs('Slot1').xs(2)

Res1   -1.390895
Res2    1.602421
Name: 2, dtype: float64

In [25]:
df.loc['Slot1'].loc[2]

Res1   -1.390895
Res2    1.602421
Name: 2, dtype: float64

In [27]:
df.index.names=['Slot','Var']
df

               Res1      Res2
Slot  Var
Slot1 1   -0.741147  0.547752
      2   -1.390895  1.602421
      3    0.870508 -0.688919
Slot2 1    0.488282 -0.720106
      2    0.701255  1.280328
      3    0.532942 -0.801847

In [35]:
df.xs(2,level='Var')

           Res1      Res2
Slot
Slot1 -1.390895  1.602421
Slot2  0.701255  1.280328

In [36]:
df.index.names

FrozenList(['Slot', 'Var'])